body {
    background-color: rgb(24, 24, 24);
}

.hidden {
    display: none;
}

hr {
    height: 1px;
    width: 100%;
    color: white;
    margin-bottom: 30px;
}

p, li {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 25px;
}

li {
    margin-left: 15px;
    text-decoration: underline;
    cursor: pointer;
}

#container {
    margin: 0 auto;
}

.grid-con {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

#main_title {
    font-family: 'Silkscreen';
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: white;
    background-color: red;
}

#instructions_text {
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
}

#filter {
    margin-top: 20px;
    margin-bottom: 30px;
}

#filter p {
    text-align: center;
    margin-bottom: 10px;
}

#region {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#region li {
    list-style-type: none;
}

#pokemon_families_list {
    list-style: circle
}

#bottom {
    background-color: red;
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
}

#bottom p {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}